.movies-details-h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  padding: 0 5px;
  font-size: 24px;
  color: rgb(2, 10, 116);
  font-weight: bold;
  background: transparent;
  &:hover,
  &:focus {
    outline: none;
    color: rgb(243, 118, 41);
  }
}
