.h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
  color: grey;
}

.home-movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

ul {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 25px;

  @media (min-width: 1024px) {
    gap: 20px;
  }
}

li {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: box-shadow, 0.9s;
  &:hover,
  &:focus {
    box-shadow: rgba(4, 15, 226, 0.4) 5px 5px;
  }
}

.StyledTitle {
  width: 300px;

  @media (min-width: 768px) {
    width: 350px;
  }

  @media (min-width: 1024px) {
    width: 310px;
  }

  h3 {
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
  }

  p {
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #e14ff3;
  }
}
